# Python
__pycache__/
*.py[cod]
*.so

# Python
__pycache__/
*.py[cod]
venv/

# Streamlit
.streamlit/secrets.toml

# Credenciales Google y tokens
service_account.json
client_secret.json
token.json
token.pickle
client_secret.json.b64
token.pickle.b64

# Archivos temporales
*.log
*.tmp
*.bak

# VSCode
.vscode/

# Docker
*.db

# Otros
.env

# Sistema operativo
.DS_Store
Thumbs.db

# Credenciales
*.json

# Imágenes
*.jpg